body {
    margin: 0;
}

.title {
    color: #fff;
    font-size: 70px;
}

.fondo {
    width: 100%;
    margin-top: -550px;
    height: 100px;
}

.fondoGato {
    position: relative;
}

.background {
    background: #3494E6;  
    background: -webkit-linear-gradient(to bottom, #EC6EAD, #3494E6);
    background: linear-gradient(to bottom, #EC6EAD, #3494E6);
    width: 100%;
    height: 100%;
    background-image: url(./fondo-gato.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.gato-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.gato {
    width: 400px;
    height: 600px;
    float: right;
}

.next {
    margin-top: -4px;
    width: 100%;
    height: 100px;
    background-color: #fff;
}